html {
  background-color: #99bbff;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Kanit', sans-serif;

}

.editorWrap {
  max-width: 600px;
  margin: 1.125rem auto;
}

.foolbar {
  display: flex;
  align-items: center;
  background-color: #6699ff;
  padding: 0.3rem;
  border: 1px solid #1d2f2f;
  box-shadow: 1px 1px 10px 2px #4d88ff;
  font-size: 1rem;
  color: black;
}

i {
  width: 25px;
  margin-left: 5px;
}

#editor-previewer {
  margin-left: 5px;
  font-weight: bold;
}

.previewWrap {
  max-width: 800px;
  margin: 1.25rem auto;
  min-height: 200px;
  display: block;
  overflow-wrap: break-word;
}

.fa-arrows-alt, .fa-compress {
  margin-left: auto;
}

.fa-arrows-alt:hover, .fa-compress:hover {
  color: #acc7fc;
}

textarea {
  width: 100%;
  min-height: 200px;
  font-size: 0.875rem;
  background-color: #ccddff;
  box-shadow: 1px 1px 10px 2px #4d88ff;
  resize: none;
}

#preview {
  background-color: #ccddff;
  box-shadow: 1px 1px 10px 2px #4d88ff;
  padding: 0 1rem;
}

#preview img {
  display: block;
  max-width: 90%;
  margin: 2rem auto;
}

.none {
  display: none;
}

.height {
  height: 100%;
}

.height-textarea {
  height: 90vh;
}